<ion-content ng-controller="SetSongCtrl">
  <div class="col col-33" id="pushdown">
    <button class="button button-block button-positive" ui-sref="home" id='backHome'>
      Back to home
    </button>
  </div>
  <div class="col col-100" id="pushdown">
    <h2>Send a song to {{ partyName }}</h2>
  </div>
  <div class="list list-inset" id="pushdown">
    <label class="item item-input" id="url">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="searchTerm" placeholder="Search for theme song">
    </label>
    <label class="item item-input" id="name">
      <input type="text" ng-model="name" placeholder="Your name here">
    </label>
    <label class="item item-input" id="message">
      <input type="text" ng-model="message" placeholder="Send a message">
    </label>
    <button class="button button-block button-positive" ng-click="searchSC(searchTerm)" id='searchSC'>
      Search
    </button>
  </div>
  <div class="list card" ng-repeat="track in searchResults">
    <div class="item item-avatar">
      <h2>{{ track.title }}</h2>
    </div>

    <div class="item item-image">
      <img src="{{ track.artwork_url }}">
    </div>

    <a class="item item-icon-left assertive" ng-click="sendSong(track.permalink_url, message, name)">
      <i class="icon ion-music-note"></i>
      Send Your Song
    </a>
  </div>
</ion-content>
